a{
    color: #98fb98;
}

.postrock a{
    font-family: Arial, Helvetica, sans-serif;
}

#music a{
    font-size: larger;
}

h2.postrock{
    background-color:crimson;
}

h2, a{
    background-color:blanchedalmond;
}

